p {
   color: #0000FF;
   text-align: center;
 }
 
 .border_table{
               border: 3px solid red;
             }
             
.pictures{
           border: 5px outset #B2B2E0;
           height: 430px;
           width: 440px;
         }
             
 #links{
         margin: 35px;
         padding: 10px;
         border: 3px dotted blue
       }